<h2>SignUp as an User</h2>
<form (submit)="signingUp()">

  <label for="email">Email</label>
  <input id="email" type="text" name="theEmail" [(ngModel)]="signUpUser.email"><br>



  <label>Username</label>
  <input type="text" name="theUsername" [(ngModel)]="signUpUser.username"><br>

  <label>Password</label>
  <input type="text" name="thePassword" [(ngModel)]="signUpUser.password"><br>

  <input type="radio" name="role" value="user" [(ngModel)]="signUpUser.role"> User 
  <input type="radio" name="role" value="brewery" [(ngModel)]="signUpUser.role"> Brewery<br>



<div *ngIf="signUpUser.role === 'brewery'">
  <h3>Brewery information</h3> <br><br>
  <label>Username</label>
  <input type="text" name="theUsername" [(ngModel)]="signUpUser.username"><br>
  <label>Adress</label>
  <input type="text" name="theUsername" [(ngModel)]="signUpUser.username"><br>
  <label>City</label>
  <input type="text" name="theUsername" [(ngModel)]="signUpUser.username"><br>
  <label>Zip code</label>
  <input type="text" name="theUsername" [(ngModel)]="signUpUser.username"><br>
  <label>Phone</label>
  <input type="text" name="theUsername" [(ngModel)]="signUpUser.username"><br>
  <label>Website</label>
  <input type="text" name="theUsername" [(ngModel)]="signUpUser.username"><br>

  
  
  </div>







  






  <br><br><br>
  <button>Register Account</button>
</form>
<p>
  Already have an account?<a [routerLink]="['/login']" > Login</a>
</p>