
<!-- <button (click)="showSignupOptions()" >signup</button>





<div *ngIf="!signupForm" *ngIf="">
  <button>login</button>    
</div>
<br>

<div *ngIf="signupForm">
nfvnfvch


</div>
<br> -->







<!-- 
<div *ngIf="theActualUser.username">
  User: {{theActualUser.username | json}}
</div>


<button (click)="loggingOut()" > Log Out </button>
<button (click)="checkIsLoggedIn()" > Check if Logged in  </button>

<hr>




<p>create Account</p>
<button name="breweryOwner" (click)="toggleForm()" >Brewery Owner</button>
<button>Drunk mothafucker</button>

<div *ngIf="showForm" >

<h2>SignUp as a Brewery owner</h2>
<form (submit)="signingUp()">
  <label>Username</label>
  <input type="text" name="theUsername" [(ngModel)]="signUpUser.username">

  <label>Password</label>
  <input type="text" name="thePassword" [(ngModel)]="signUpUser.password">
  <button>Register Account</button>
</form>

</div>









<br><br><br><br>


<h2>Login </h2>
<form (submit)="loggingIn()"  >

  <label> Username</label>
  <input type="text" name="theUsername" [(ngModel)]="loginUser.username" >

  <label> Password</label>
  <input type="password" name="thePassword" [(ngModel)]="loginUser.password" >

  <button>Complete Registration</button>

</form>

<div *ngIf="theError"> error: {{theError}}</div> -->
