
<div *ngIf="theActualUser.username">
  User: {{theActualUser.username | json}}
</div>

<h2>SignUp</h2>
<form (submit)="signingUp()">
  <label>Username</label>
  <input type="text" name="theUsername" [(ngModel)]="signUpUser.username">

  <label>Password</label>
  <input type="text" name="thePassword" [(ngModel)]="signUpUser.password">
  <button>Register Account</button>
</form>

<!-- 

<button (click)="logMeOut()">Log Out</button>

<button (click)="checkIfLoggedIn()">check if logged in </button>

<h2>Signup Form</h2>

<form (submit)="tryToSignUp()">

  <label>Username</label>
  <input [(ngModel)]="signUpUser.username" name="blah" type="text">

  <label>Password</label>
  <input [(ngModel)]="signUpUser.password" name="blah" type="text">


  <button>Complete Registration</button>
</form>



<hr>

<h2>Login Form</h2> -->

<!-- <form (submit)="tryToLogIn()">

  <label>Username</label>
  <input [(ngModel)]="loginUser.username" name="blah" type="text">

  <label>Password</label>
  <input [(ngModel)]="loginUser.password" name="blah" type="text">


  <button>Login</button>
</form>


<div *ngIf="theError">error: {{theError}}</div> -->